# Foundry build output
cache/
out/
broadcast/
deployments/

# Node dependencies
node_modules/

# Remix artifacts
**/artifacts/
**/artifacts/**
deps/
states/

# Misc
*.dbg.json
*.tsbuildinfo
.env
.env.local
.DS_Store
.local/
